@import "./imports/colors.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.noUnderline:link,
.noUnderline:visited,
.noUnderline:hover,
.noUnderline:active {
  text-decoration: none;
}

.hoverOnly:link,
.hoverOnly:visited {
  color: $blue;
}

a:link, a:visited {
  color: $blue;
}

a.active {
  color: $purple;
}

a:hover {
  color: lighten($blue, 10%)
}

a.active:hover {
  color: lighten($purple, 8%);
}